$yellow:#FBD46D;
$green:#559C82;

.MovieList{
    max-width: 1300px;
    margin: auto;
    margin-top: 70px;
    position: relative;
    z-index: 10;

    .list-title{
        font-size: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .list-line{
            margin-left: 10px;
            min-height: 6px;
            min-width: 40px;
            background-color: black;
        }
    }

    .movie-scroll{
        width: 100%;
        display: flex;
        overflow-x: scroll;
        min-height: 405px;

        .empty{
            // margin: auto;
            margin-left: 30px;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 3rem;
            font-weight: 500;
            color: lightgray;

            svg{
                transform: scale(3);
                margin-right: 30px;
                fill: lightgray;
            }
        }

    }

    .Movie{
        margin-right: 40px;

        .movie-card{
            
            .movie-poster{

                img{
                    width: 185px;
                    height: 284px;
                    object-position: center;
                    object-fit: cover;
                }
                
            }

            .movie-release-date{
                color: $green;
            }
        }
    }
}