$yellow:#FBD46D;
$green:#559C82;

.Home{
    .Header{
        user-select: none;
        
        .header-image{
            min-height: 570px;
            background: url(../../assets/girl-clapperboard.png);
            background-position: center;
            background-size: cover;

            .header-container{
                max-width: 900px;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 570px;

                .header-text{
                    font-size: 4rem;
                    color: white;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .landing-lists{
        margin-top: 100px;
    }
}