.Login {
  width: 425px;
  margin: auto;
  min-height: 50px;
  background-color: white;
  padding: 4rem 3rem;
  border-radius: 5px;
  position: relative;
}

.Login h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.Login .error {
  color: #e22b2b;
}

.Login form {
  margin-top: 20px;
}

.Login form input {
  width: 100%;
  border: none;
  background-color: #F3F3F3;
  font-size: 1.05rem;
  padding: 0.8rem 1rem;
  margin-bottom: 20px;
}

.Login form .register-btn {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #FBD46D;
  border: none;
  font-size: 1.05rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
}

.Login .form-message {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Login .form-message .links {
  margin-left: 5px;
  font-weight: 700;
  cursor: pointer;
}

.Login .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  fill: #adadad;
  z-index: 21;
}

.Login .close-modal:hover {
  fill: black;
}

.Success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Success svg {
  position: relative;
  z-index: 20;
  fill: #46d646;
  margin-bottom: 30px;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.Logout {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.Logout .icon {
  width: 15%;
  min-height: 100%;
  background-color: #559C82;
  border-radius: 5px 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 99;
}

.Logout .icon svg {
  fill: white;
}

.Logout .message {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
}

.Logout .message p {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.Logout .message .buttons {
  width: 100%;
}

.Logout .message .buttons .log-btn {
  background-color: #FBD46D;
  border: 1px solid #FBD46D;
  padding: 0.6rem 1rem;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
}

.Logout .message .buttons .cancel-btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.6rem 1rem;
  font-weight: 500;
  cursor: pointer;
}
/*# sourceMappingURL=login.css.map */